
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="container">
			<div class="logo-info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<picture>
							<source srcset="./img/logo-footer-m.svg" media="(max-width: 1023px)">
							<source srcset="./img/logo-footer.svg" media="">
							<img src="./img/logo-footer.svg" alt="" />
						</picture>
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:89203033888" class="link-phone">+7(920) 303-38-88</a>
				</div>
				<div class="soc-wrap">
					<div class="soc-title">Мы в соц.сетях:</div>
					<div class="soc-items">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/footer-soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/footer-soc02.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/footer-soc03.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/footer-soc04.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/footer-soc05.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li class="menu-main">
						<ul>
							<li><a href="">Блог</a></li>
							<li><a href="">Цены</a></li>
							<li><a href="">Наша команда</a></li>
							<li><a href="">Сертификаты</a></li>
							<li><a href="">Новости</a></li>
							<li><a href="">Вопросы-ответы</a></li>
							<li><a href="">Отзывы</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
					<li class="menu-second">
						<ul>
							<li>
								<a href="">Услуги</a>
								<ul>
									<li><a href="">Создание сайтов</a></li>
									<li><a href="">Продвижение СЕО и СММ</a></li>
									<li><a href="">Брендирование</a></li>
									<li><a href="">Промышленный дизайн</a></li>
									<li><a href="">Видеореклама</a></li>
									<li><a href="">Реклама на ТВ, радио и газеты</a></li>
									<li><a href="">Разработка ПО</a></li>
									<li><a href="">Разработка мобильных приложений</a></li>
									<li><a href="">Копирайтинг</a></li>
									<li><a href="">Добработка и сопровождение сайтов</a></li>
									<li><a href="">Маркетинг и развитие компании под ключ</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-info-panel cnt-section">
		<div class="container">
			<div class="info-wrap">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant tincidunt id massa lacus orci aliquam, urna, iaculis. Fames duis morbi eget ullamcorper id viverra enim id. Ultricies felis velit faucibus ac. Lectus diam pretium vestibulum adipiscing morbi tellus nibh at. Risus scelerisque.</p>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li>2019. Все права защищены</li>
					<li><a href="">Политика конфеденциальности</a></li>
					<li><a href="">Отправить ошибку</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->