
<!-- header -->
<header class="header">
	<div class="container">
		<div class="actions-menu-wrap">
			<div class="menu-wrap js-popup-wrap">
				<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="menu-content-block js-popup-block">
					<!--site-menu-box-->
					<div class="site-menu-box">
						<div class="menu-inner-wrap">
							<div class="search-inner-wrap">
								<form action="/" class="frm-main-search">
									<input type="text" class="form-input" placeholder="Поиск по сайту">
									<button type="submit" class="btn-action-ico ico-search"></button>
								</form>
							</div>
							<div class="tags-inner-wrap">
								<ul>
									<li><a href="" class="btn-tag">Создание сайтов</a></li>
									<li><a href="" class="btn-tag">Продвижение СЕО и СММ</a></li>
									<li><a href="" class="btn-tag">Брендирование</a></li>
									<li><a href="" class="btn-tag">Видеореклама</a></li>
									<li><a href="" class="btn-tag">Реклама на ТВ, радио и газеты</a></li>
									<li><a href="" class="btn-tag">Разработка ПО</a></li>
									<li><a href="" class="btn-tag">Разработка мобильных приложений</a></li>
									<li><a href="" class="btn-tag">Копирайтинг</a></li>
									<li><a href="" class="btn-tag">Промышленный дизайн</a></li>
									<li><a href="" class="btn-tag">Добработка и сопровождение сайтов</a></li>
									<li><a href="" class="btn-tag">Маркетинг и развитие компании под ключ</a></li>
									<li><a href="" class="btn-tag">Блог</a></li>
									<li><a href="" class="btn-tag">Цены</a></li>
									<li><a href="" class="btn-tag">Наша команда</a></li>
									<li><a href="" class="btn-tag">Сертификаты</a></li>
									<li><a href="" class="btn-tag">Новости</a></li>
									<li><a href="" class="btn-tag">Вопросы-ответы</a></li>
									<li><a href="" class="btn-tag">Отзывы</a></li>
									<li><a href="" class="btn-tag">Контакты</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-side-wrap">
							<a href="" class="item-tile-menu-action">
			<span class="tile-photo-wrap">
				<span class="tile-photo">
					<img src="./img/menu.svg" alt="">
				</span>
			</span>
								<span class="tile-title-wrap">
				<span class="tile-title">1С-сопровождение </span>
				<span class="tile-info">по фиксированной стоимости</span>
				<span class="tile-action">
					<span class="button button-arrow">зАКАЗАТЬ</span>
				</span>
			</span>
							</a>
						</div>
					</div><!--/site-menu-box-->
				</div>
			</div>
			<div class="langs-wrap">
				<ul class="menu">
					<li><a href="" class="active">ru</a></li>
					<li><a href="">CN</a></li>
				</ul>
			</div>
		</div>
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/logo-header.svg" alt="">
			</a>
			<div class="phone-wrap">
				<a href="tel:89203033888" class="link-phone">+7(920) 303-38-88</a>
			</div>
		</div>
		<div class="actions-contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:89203033888" class="link-phone">+7(920) 303-38-88</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/header-soc01.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/header-soc02.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/header-soc03.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/header-soc04.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/header-soc05.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->